<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Редактирование профиля</title>
    {% load static %}
    {% include 'main/menu.html' %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <div class="container">
        <h1 class="title">Редактирование профиля</h1>
        <form method="post" class="form-container">
            {% csrf_token %}

            <label for="email">Email:</label>
            {{ form.email }}

            <label for="firstname">Имя:</label>
            {{ form.first_name }}

            <label for="lastname">Фамилия:</label>
            {{ form.last_name }}

            <label for="bio">Информация о себе:</label><br>
            {{ form.bio }}

            <label for="birth_date">Дата рождения:</label>
            {{ form.birth_date }}

            <label for="location">Локация:</label>
            {{ form.location }}

            <button type="submit" class="btn">Сохранить</button>
        </form>
    </div>
</body>
</html>
