<footer class="border-t border-gray-200 py-6 bg-white">
        <div class="flex justify-center space-x-8">
            <!--вертикальное движение -->
            <div class="w-10 h-10 bg-black rounded-lg animate-[bounce_3s_ease-in-out_infinite]"></div>

            <!--горизонтальное движение -->
            <div class="w-10 h-10 bg-black rounded-lg animate-[slide_4s_ease-in-out_infinite]"></div>

            <!--вращение -->
            <div class="w-10 h-10 bg-black rounded-lg animate-[spin_5s_linear_infinite]"></div>
        </div>
</footer>
