{% extends 'base.html' %}

{% block title %}Профиль{% endblock %}

{% block content %}
    <main>
        <h1>Профиль</h1>
        {% if user.is_authenticated %}
            <p>Имя пользователя: {{ user.username }}</p>
            <p>Email: {{ user.email }}</p>

            {% if user.profile %}
                <p>Дата рождения: {{ user.profile.birth_date|date:"d.m.Y" }}</p>
                <p>Имя: {{ user.profile.first_name }}</p>
                <p>Фамилия: {{ user.profile.last_name }}</p>
                <p>Информация о себе: {{ user.profile.bio }}</p>
                <p>Локация: {{ user.profile.location }}</p>
            {% else %}
                <p>Профиль не заполнен. <a href="{% url 'profile_update' %}">Заполнить профиль</a></p>
            {% endif %}

            <form action="{% url 'index' %}" method="post">
                {% csrf_token %}
                <button type="submit" class="btn">Выйти</button>
            </form>
        {% else %}
            <p>
                Чтобы просмотреть профиль, <a href="{% url 'login' %}">войдите в систему</a> или <a href="{% url 'register' %}">зарегистрируйтесь</a>.
            </p>
        {% endif %}
    </main>
{% endblock %}

