{% extends 'base.html' %}

{% block title %}Профиль{% endblock %}

{% block content %}
    <main>
        <h1>Профиль</h1>
        {% if user.is_authenticated %}
            <p>Имя пользователя: {{ user.username }}</p>
            <p>Email: {{ user.email }}</p>

            {% if user.first_name or user.last_name or user.birth_date or user.bio or user.location %}
                {% if user.first_name %}<p>Имя: {{ user.first_name }}</p>{% endif %}
                {% if user.last_name %}<p>Фамилия: {{ user.last_name }}</p>{% endif %}
                {% if user.birth_date %}<p>Дата рождения: {{ user.birth_date|date:"d.m.Y" }}</p>{% endif %}
                {% if user.bio %}<p>Информация о себе: {{ user.bio }}</p>{% endif %}
                {% if user.location %}<p>Локация: {{ user.location }}</p>{% endif %}
            {% else %}
                <p>Профиль не заполнен. <a href="{% url 'profile_update' %}">Заполнить профиль</a></p>
            {% endif %}

            <p><a href="{% url 'profile_update' %}" class="btn">Редактировать профиль</a></p>

        {% else %}
            <p>
                Чтобы просмотреть профиль, <a href="{% url 'login' %}">войдите в систему</a> или <a href="{% url 'register' %}">зарегистрируйтесь</a>.
            </p>
        {% endif %}
    </main>
{% endblock %}


